/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-weight: bold;
}

/* Hero Section */
.hero {
    background-image:url('realEstate-img-main/header.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay for contrast */
    padding: 30px;
    width: 100%;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 14px;
    margin-top: 10px;
}

/* About Section */
.about {
    padding: 40px;
    background-color: white;
}

.about h2 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #111;
}